		
			*{
			
			font-size:14px;
			
			}
		#div0{
				width:10%;
				height:4%;
				border: 0px solid red;
				
				background-color:#CCCCFF;
				
			}
			font{
				margin-top:30px;
			}
				a{
				text-decoration:none;
				color: black;}
			}
			