#div0{
				width:30%;
				height:270px;
				margin-top:10%;
				margin-left:35%;
				border: 0px solid red;
				background:url(../images/recharge.jpg) no-repeat  top ;
				}
				#tbl{
					width:90%;
					height:200px;
					margin-left: 20px;
					margin-top:20px;
					text-align: center;
					
				}
				#txt1{
					width:70%;
					height:30px;
					margin-left:20px;
				}
			#btn1{
				width:70px;
				height:35px;
			}
			#btn2{
				width:70px;
				height:35px;
			}
			*{
			font-size:14px;
			}
			