        html,body,head{
				margin:0;
				padding:0;
				height: 100%;
				width: 100%;
			}
			*{
			
			font-size:14px;
			
			}
			div{
				float:left;
			}
			#div0{
				border:0px solid black;
				width:100%;
				/*height:650px;*/
				height: 95%;
				
			}
		
			#div6{
					
					border:0px solid red;
					height:85%;
					/*width:170px;*/
					width:15%;
				
				
					
				
			}
			#div7{
					
					border:0px solid yellow;
					height:85%;
				
					width:84%;
				
					
				
			}
			
			
			a{
				text-decoration:none;
				color: black;}
			.tbl{
				width:100%;
				height: 100%;
				text-align:center;
			}
			#div8{
				border: 0px solid red;
				width:85%;
				height:25px;
				margin-top:10px;
				margin-left:40px;
			}
		a:hover>span{
			background-color:white;
			color:#3366FF;
				
		}
       td:hover{
       	font-size:24px;
       	
       /* 	background-color:#3366FF; */
       	background-color:#F0F0F0;
       }
       #btn1{
       	width: 100%;
       	background-color:#3366FF;
       	border: none;
       	font-size:16px;
       	height: 100%;
       }
       #div4:hover>input{
       	color:white;
       	font-size:18px;
       	
       }
        #div5:hover>a{
       	color:white;
       	font-size:18px;
       	
       	
       }
       #div8:hover>a{
       	font-size:18px;
     
       	
       }
       img:hover{
       margin-top:0;
       	width:150px;
       	height:50px;
       	margin-left:40px;
      
      
       	
       }
#div9{
	border:0px solid red;
	width:300px;
	height:280px;
	margin-top:55px;
	margin-left:1000px;
	 background:url(../img/cart.png) no-repeat  top ;
	position: absolute;
	color:white;
	
}
.tbl2{
	width:100%;
	height:280px;
	text-align:center;
	
}
font{
	
font-family: cursive;
}
 a{
	font-color:black;
}
